.forgotPassword {
    width: 400px;
    display: flex;
    flex-direction: column;
    @media (max-width: 400px) {
        width: 300px;
    }
}

.forgotPassword__header {
    margin: 40px 0;
    color: #1A1919;
    font-weight: 700;
    font-size: 30px;
    line-height: 38.73px;
    text-align: center;
    font-family: "Basis Grotesque Pro";
}

.forgotPassword__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.forgotPassword__form input {
    padding: 14px 12px;
    width: 100%;
    border: 1.2px solid #D3D8DC;
    border-radius: 6px;
}

.forgotPassword__form__buttonGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forgotPassword__form__buttonGroup button {
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    padding: 13px 0;
}

.forgotPassword__form__buttonGroup_send {
    color: #fff;
    background: #316fea;
}

.forgotPassword__form__buttonGroup_cancel {
    color: #060E1E;
    border: 1.2px solid #D3D8DC;
    background-color: #fff;
}

.forgotPassword__form__incorrectLogin {
    text-align: center;
    color: #ee4f4f;
}

.forgotPassword__form__input_loginInvalid {
    border: 1.2px solid #ee4f4f !important;
}