.errorBar {
    position: absolute;
    right: 10px;
    z-index: 50;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 50px 0;
    max-width: 400px;
    @media (max-width: 400px) {
        width: 300px;
    }
}

.errorBar__message {
    background-color: #ee4f4f;
    color: #fff;
    border-radius: 6px;
    padding: 13px 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}

.errorBar__message__close {
    background: transparent;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: start;
    color: #fff;
}