.app__content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Basis Grotesque Pro';
    position: relative;
}

.app__content__logo {
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}